---
- name: Gather the package facts
  ansible.builtin.package_facts:
    manager: auto

- name: Fail if tlp packages are missing
  ansible.builtin.fail:
    msg: >-
      Missing tlp packages:
      {{ tlp_packages
         | difference(ansible_facts.packages.keys())
         | join(', ')
      }}
  when: tlp_packages | difference(ansible_facts.packages.keys()) | length > 0

- name: Fail if tlp service is not enabled
  ansible.builtin.systemd_service:
    name: tlp
  register: service_status
  failed_when: service_status.status.UnitFileState == "disabled"
  when: tlp_service_manage | bool
