# SPDX-License-Identifier: MIT-0
---
- name: Load OS-specific vars
  ansible.builtin.include_vars: "../vars/{{ ansible_facts.distribution | lower }}.yml"

- name: Include Fedora tasks
  ansible.builtin.include_tasks: setup-fedora.yml
  when:
    - ansible_facts.distribution == 'Fedora'

- name: Include Debian tasks
  ansible.builtin.include_tasks: setup-debian.yml
  when:
    - ansible_facts.distribution == 'Debian'

- name: Install tlp custom configuration
  ansible.builtin.copy:
    src: 01-mytlp.conf
    dest: "{{ tlp_custom_dropin_path }}"
    mode: '0644'
  when: tlp_custom_conf_manage
  notify: Restart tlp
