# SPDX-License-Identifier: MIT-0
---
- name: Load OS-specific vars
  ansible.builtin.include_vars: "../vars/{{ ansible_facts.distribution | lower }}.yml"

- name: Include Fedora tasks
  ansible.builtin.include_tasks: setup-fedora.yml
  when:
    - ansible_facts.distribution == 'Fedora'
