---
- name: Uninstall conflicting packages
  ansible.builtin.dnf:
    name: "{{ tlp_conflicting_package }}"
    state: absent

- name: Mask systemd-rfkill service and socket
  ansible.builtin.systemd:
    name: "{{ item }}"
    masked: true
    state: stopped
  loop:
    - systemd-rfkill.service
    - systemd-rfkill.socket

- name: Install tlp packages
  ansible.builtin.dnf:
    name: "{{ tlp_packages }}"
    state: present

- name: Make sure tlp service is started and enabled
  ansible.builtin.systemd_service:
    name: tlp
    state: started
    enabled: true
  when: tlp_service_manage | bool

- name: Install tlp custom configuration
  ansible.builtin.copy:
    src: 01-mytlp.conf
    dest: "{{ tlp_custom_dropin_path }}"
    mode: '0644'
  when: tlp_custom_conf_manage
  notify: restart tlp
